<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - SIGPORT</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
    <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-sm space-y-8">
        <div class="flex justify-center mb-6">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo SIGPORT" class="h-32">
        </div>
        <div class="grid grid-cols-2 gap-6">
            <a href="/users/new" class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-purple-50 hover:shadow-lg hover:-translate-y-1 transform transition duration-200 ease-in-out group">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-purple-600 group-hover:text-purple-700 transition duration-200 ease-in-out">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.466 0 0112 21a8.966 8.466 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>
                <span class="mt-4 text-md font-semibold text-gray-800 group-hover:text-purple-800 transition duration-200 ease-in-out">Usuário</span>
            </a>
            {% if is_admin %}
            <a href="/access_control" class="flex flex-col items-center justify-center p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-yellow-50 hover:shadow-lg hover:-translate-y-1 transform transition duration-200 ease-in-out group">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-yellow-600 group-hover:text-yellow-700 transition duration-200 ease-in-out">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6a4.5 4.5 0 10-9 0v4.5m-3 0h15m-1.5 0v7.5a3 3 0 01-3 3h-6a3 3 0 01-3-3v-7.5h12z" />
                </svg>
                <span class="mt-4 text-md font-semibold text-gray-800 group-hover:text-yellow-800 transition duration-200 ease-in-out">Controle de Acesso</span>
            </a>
            {% endif %}
        </div>
    </div>
</body>
</html>